body{
    margin: 10px 60px;
    padding: 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0.445), rgba(255, 255, 255, 0.315)), url('/assets/images/Imagens/9qPwMYepYBRomZ3ifxjzCM-1200-80.png');
}
.container-items{
    margin: 0 auto;
    max-width: 480px;
    width: 100%;
    background: transparent;
    border-radius: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#ul1 li {
    display: flex;
    justify-content: flex-start;
    background:rgba(219, 199, 199, 0.6);
    position: relative;
    margin-bottom: 1rem;
    border-radius: 8px;
}

#ul1 li:last-child {
    margin-bottom: 150px;
}

#ul1 li div img {
    height: 145px;
    width: 145px;
    border: 4px solid #000;
    border-radius: 50%;
    margin: 20px;
    object-fit: fill;
}

.game-info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 300px;
}

.game-info h2 {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 0.55rem;
}

.game-info h3 {
    font-size: 0.99rem;
}

.icon-remove {
    position: absolute;
    top: 45%;
    right: 20px;
    cursor: pointer;
    transition: all 0.1s;
}

.icon-remove:hover {
    color: #585454;
}

footer {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background: #5e5a5a;
    z-index: 9997;
    padding: 10px 0;
}

footer button {
    background: #ffffff;
    color: #000000;
    border: none;
    border-radius: 35%;
    padding: 0.45rem;
    margin: 0.35rem;
    position: relative;
    transition: all 0.8s;
    cursor: pointer;
}

footer button:hover {
    transform: scale(1.2);
    background: #000000;
    color:#ffffff;
}